.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38cc8c;
  border-radius: 8px;
  padding: 16px 0px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 0px rgba(50, 184, 126, 1);
  border: 1px solid rgb(50, 184, 126);
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: rgb(96, 214, 163);
  box-shadow: 0 2px 0px rgba(56, 204, 140, 1);
  border: 1px solid rgb(56, 204, 140);
  transition: all 0.3s;
}

.button.disabled {
  cursor: not-allowed;
}
